<h1>編集画面</h1>

<%= form_with model: @goal, url: update_goal_path(@goal.id), method: :patch do |f| %>

<h4>目標</h4>
  <%= f.text_field :name %>

  <h4>理由</h4>
  <h5>未来</h5>
  <%= f.text_area :future %>
  <h5>現在</h5>
  <%= f.text_area :now %>
  <h5>過去</h5>
  <%= f.text_area :past %>

  <h4>期間</h4>
  <%= f.date_field :start_date %>
  <%= f.date_field :finish_date %>
　<h4>期間内勉強時間</h4>
　<%= f.number_field :study_time %>

  <%= f.submit '投稿' %>

<% end %>